

*{
    font-family: monospace;
    font-size: 26px;
}
.fondo{
    background-color: burlywood;
}
.center {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.titulos{
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 48px;
}
.subtitulos{
    margin-top: 60px;
    margin-bottom: 25px;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
}
.textos{
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}



body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #333 !important;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}